In [2]:
# Cargamos librerías.

import pandas as pd
import os
os.chdir('E:\Backup Sergio IPROCOM\Documentos\SMARIN\SAMP\MaestriaAnalitica\DataCamp\Python Data Science Toolbox (Part 2)')

In [3]:
# Cargamos dataset WORLD INDICATORS que contiene índices de muchos paises del mundo.

df = pd.read_csv("world_ind_pop_data.csv")

In [4]:
df.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

In [5]:
df.describe()

               Year  Total Population  Urban population (% of total)
count  13374.000000      1.337400e+04                   13374.000000
mean    1987.078884      1.436528e+08                      48.878101
std       15.884693      5.529452e+08                      24.794697
min     1960.000000      5.563000e+03                       2.077000
25%     1973.000000      8.542475e+05                      28.348500
50%     1987.000000      5.578022e+06                      47.467000
75%     2001.000000      2.810208e+07                      68.676250
max     2014.000000      7.260711e+09                     100.000000

### Uso ed zip()

In [6]:
# Para practicar el uso de zip() vamos a extraer los nombres de las columnas del dataframe y una de las filas de la data.

colnames = list(df)
row_df = list(df.loc[1])

In [7]:
# Zip sirve para unir dos listas en forma de diccionario.

# Creo el objeto zipped_list con la función zip()
zipped_list = zip(colnames, row_df)

# Imprimo el objeto zipped_list para conocer que me arroja dicho objeto.
print(zipped_list)

# Convierto el ibjeto zipped_list wn un diccionario.
rs_dict = dict(zipped_list)


# Imprimo el diccionario.
print(rs_dict)

<zip object at 0x000001F06A751A48>
{'CountryName': 'Caribbean small states', 'CountryCode': 'CSS', 'Year': 1960, 'Total Population': 4190810.0, 'Urban population (% of total)': 31.5974898513652}

In [8]:
# Escribiremos una función para el proceso anterior.

def list2dict(list1, list2):
    
    # Creo el objeto zipped_list con la función zip()
    zipped_list = zip(list1, list2)

    # Convierto el ibjeto zipped_list wn un diccionario.
    rs_dict = dict(zipped_list)

    # Retorna el diccionario.
    return rs_dict

In [9]:
rsx_dict = list2dict(colnames, row_df)

print(rsx_dict)

{'CountryName': 'Caribbean small states', 'CountryCode': 'CSS', 'Year': 1960, 'Total Population': 4190810.0, 'Urban population (% of total)': 31.5974898513652}

In [10]:
# Aplicamos el método tolist() que convierte el dataframe en una lista de listas

list_rows = df.values.tolist()

list_rows[0]

['Arab World', 'ARB', 1960, 92495902.0, 31.285384211605397]

In [11]:
# Ahora llamaremos la función list_of_list para generar los diccionarios de cada fila del dataframe.

list_of_dicts = [list2dict(colnames,sublist) for sublist in list_rows]

list_of_dicts[100]

{'CountryCode': 'PYF',
 'CountryName': 'French Polynesia',
 'Total Population': 78083.0,
 'Urban population (% of total)': 42.28100000000001,
 'Year': 1960}

In [12]:
df = pd.DataFrame(list_of_dicts)

In [13]:
df.head()

,CountryCode,CountryName,Total Population,Urban population (% of total),Year
0,ARB,Arab World,9.249590e+07,31.285384,1960
1,CSS,Caribbean small states,4.190810e+06,31.597490,1960
2,CEB,Central Europe and the Baltics,9.140158e+07,44.507921,1960
3,EAS,East Asia & Pacific (all income levels),1.042475e+09,22.471132,1960
4,EAP,East Asia & Pacific (developing only),8.964930e+08,16.917679,1960